nav{
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
    z-index: 5;
    background-color: transparent;
}

.nav-content{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
}
.nav-content-1{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: green; */
}
.nav-content-1 h1{
    font-size: 30px;
    color: aliceblue;
}

.nav-content-2{
    width: calc(100% - (200px + 200px));
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

.nav-content-2 ul li{
    display: inline-block;
    margin: 0 10px;
}

.nav-content-2 ul li a{
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-size: 14px;
}

.nav-content-3{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    /* background-color: violet; */
}

.nav-content-3 button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    
    background-color: orange;
}